/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.feedback-form {
  background-color: #8e907d;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 8px 16px 26px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.feedback-form label {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  color: #333;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #007bff;
  outline: none;
}

.feedback-form button {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  width: 100%;
}
